/* Global App style */
.App {
    min-height: 100vh;
    display: block;
    text-align: center;
    align-items: center;
    justify-content: center;
}

/* Apply flex for mobile devices */
@media (max-width: 767px) {
    .App {
        display: flex;
    }
}